#content.bootstrap h3:not(.modal-title), #content.bootstrap .panel-heading{
	padding:0!important;
	margin:0!important;
}
.ws_content_render>h3, .ws_content_render>h2{
    background:#C6AEA4;
    padding:20px 0;
    color:#fff!important;
    margin:auto!important;
    width:80%;
    text-align: center;
}
.ws_input_dishes{
    margin: 0 5px;
    max-width: 30%;
}
.ws_content_render{
	background:url('../img/background_table.jpg')no-repeat center center;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
	align-items:center;
	padding:5px;
    margin:auto;
    margin-top:40px;
}
.table_render{
    max-width:30%!important;
	text-align:center!important;
	font-size:16px;
	padding:10px 0;
}
.preview{
    width:80%;
	margin:35px auto;
}
th{
    text-align:center!important;
	font-size:16px!important;
	padding:20px 0!important;
	background:rgba(255,255,255,0.7);
}
th.table_render span{
    font-size:24px;
    color:#C49D42;
}
.ps_back-office .preview{
    height: 100vh;
    width: 80%;
}
.ps_back-office .preview tfoot{
    background: #fff;
}
.ps_back-office #preview td.table_render, td.table_render{
	background:rgba(198,174,165,0.5);
	color:#fff;
	padding:20px 0!important;
}
